<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="drone">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-6.3212E-08 1.0539E-07 -0.026926"
        rpy="0 0 0" />
      <mass
        value="0.22736" />
      <inertia
        ixx="0.00051734"
        ixy="-1.9474E-10"
        ixz="-1.0163E-11"
        iyy="0.00054338"
        iyz="1.6895E-11"
        izz="0.00081393" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_motor_front_right">
    <inertial>
      <origin
        xyz="0.0010075 -3.9076E-09 0.015546"
        rpy="0 0 0" />
      <mass
        value="0.13627" />
      <inertia
        ixx="1.329E-05"
        ixy="-5.3887E-14"
        ixz="-9.9406E-08"
        iyy="1.3437E-05"
        iyz="3.8342E-12"
        izz="1.168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_front_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_motor_front_right"
    type="fixed">
    <origin
      xyz="0.16299 0.16299 0.00037705"
      rpy="0 0 -2.4843" />
    <parent
      link="base_link" />
    <child
      link="link_motor_front_right" />
  </joint>
  <link
    name="link_rotor_front_right">
    <inertial>
      <origin
        xyz="4.81133938246003E-10 7.6710804375324E-11 0.00428252145554474"
        rpy="0 0 0" />
      <mass
        value="0.0792353968915999" />
      <inertia
        ixx="2.5935724876401E-06"
        ixy="1.20862914748296E-05"
        ixz="-9.09337907217878E-14"
        iyy="0.000567464564116891"
        iyz="-1.39488669935456E-14"
        izz="0.000569676063472002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_front_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rotor_front_right"
    type="continuous">
    <origin
      xyz="0 0 0.029573"
      rpy="0 0 1.1957" />
    <parent
      link="link_motor_front_right" />
    <child
      link="link_rotor_front_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_motor_front_left">
    <inertial>
      <origin
        xyz="0.0010075 -3.9076E-09 0.015546"
        rpy="0 0 0" />
      <mass
        value="0.13627" />
      <inertia
        ixx="1.329E-05"
        ixy="-5.3887E-14"
        ixz="-9.9406E-08"
        iyy="1.3437E-05"
        iyz="3.8342E-12"
        izz="1.168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_front_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_motor_front_left"
    type="fixed">
    <origin
      xyz="-0.16299 0.16299 0.00037705"
      rpy="0 0 -0.74053" />
    <parent
      link="base_link" />
    <child
      link="link_motor_front_left" />
  </joint>
  <link
    name="link_rotor_front_left">
    <inertial>
      <origin
        xyz="4.81135152552437E-10 7.67108876420508E-11 0.00428252430867754"
        rpy="0 0 0" />
      <mass
        value="0.0792351821581544" />
      <inertia
        ixx="2.59357248764002E-06"
        ixy="1.20862914748295E-05"
        ixz="-9.0933750992924E-14"
        iyy="0.000567464564116888"
        iyz="-1.39488582612234E-14"
        izz="0.000569676063471999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_front_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rotor_front_left"
    type="continuous">
    <origin
      xyz="0 0 0.029573"
      rpy="0 0 -1.2207" />
    <parent
      link="link_motor_front_left" />
    <child
      link="link_rotor_front_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_motor_rear_right">
    <inertial>
      <origin
        xyz="0.0010074998433014 -3.90756207946374E-09 0.0155460529897806"
        rpy="0 0 0" />
      <mass
        value="0.136265638019088" />
      <inertia
        ixx="1.32895448445532E-05"
        ixy="-5.38865259447981E-14"
        ixz="-9.94055138936586E-08"
        iyy="1.34373280396181E-05"
        iyz="3.83424096949605E-12"
        izz="1.16795382339127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_rear_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_rear_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_motor_rear_right"
    type="fixed">
    <origin
      xyz="0.16299 -0.16299 0.00037705"
      rpy="0 0 2.3138" />
    <parent
      link="base_link" />
    <child
      link="link_motor_rear_right" />
  </joint>
  <link
    name="link_rotor_rear_right">
    <inertial>
      <origin
        xyz="4.81133966001579E-10 7.67106378418703E-11 0.00428252145554474"
        rpy="0 0 0" />
      <mass
        value="0.0792353968916003" />
      <inertia
        ixx="2.59357248764002E-06"
        ixy="1.20862914748288E-05"
        ixz="-9.09336776816151E-14"
        iyy="0.000567464564116895"
        iyz="-1.39488613366009E-14"
        izz="0.000569676063472006" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_rear_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_rear_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rotor_rear_right"
    type="continuous">
    <origin
      xyz="0 0 0.029573"
      rpy="0 0 2.6807" />
    <parent
      link="link_motor_rear_right" />
    <child
      link="link_rotor_rear_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_motor_rear_left">
    <inertial>
      <origin
        xyz="0.00100749984330151 -3.90756083046284E-09 0.0155460529897806"
        rpy="0 0 0" />
      <mass
        value="0.136265638019088" />
      <inertia
        ixx="1.32895448445532E-05"
        ixy="-5.38865297564463E-14"
        ixz="-9.94055138936587E-08"
        iyy="1.34373280396181E-05"
        iyz="3.83424097510764E-12"
        izz="1.16795382339127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_rear_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_motor_rear_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_motor_rear_left"
    type="fixed">
    <origin
      xyz="-0.16299 -0.16299 0.00037705"
      rpy="0 0 0.80477" />
    <parent
      link="base_link" />
    <child
      link="link_motor_rear_left" />
  </joint>
  <link
    name="link_rotor_rear_left">
    <inertial>
      <origin
        xyz="4.81136019914175E-10 7.67109153976264E-11 0.00428252430867752"
        rpy="0 0 0" />
      <mass
        value="0.0792351821581553" />
      <inertia
        ixx="2.59357248764013E-06"
        ixy="1.20862914748303E-05"
        ixz="-9.09336086659056E-14"
        iyy="0.000567464564116896"
        iyz="-1.39488676252485E-14"
        izz="0.000569676063472007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_rear_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find drone)/meshes/link_rotor_rear_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rotor_rear_left"
    type="continuous">
    <origin
      xyz="0 0 0.029573"
      rpy="0 0 0.54786" />
    <parent
      link="link_motor_rear_left" />
    <child
      link="link_rotor_rear_left" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>